* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #525050;
    color: #333; /* Added for better readability */
}

.container {
    max-width: 992px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    font-size: 1.75em;
    margin: 30px 0;
    text-align: center;
    color: #fff; /* Added for better contrast */
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -15px; /* Negative margin to counteract padding on sections */
}

section {
    background-color: #838383;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 45px 15px 15px 15px;
    position: relative;
    flex-grow: 1;
    margin: 15px; /* Added margin for gap between sections */
}

.section-title {
    border: 1px solid black;
    font-size: 1.25em;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
}

section:nth-child(1) .section-title {
    background-color: #d59898;
}

section:nth-child(2) .section-title {
    background-color: #9c5c5c;
}

section:nth-child(3) .section-title {
    background-color: #e5d198;
}

p {
    margin-top: 15px;
}

/* Desktop view */
@media (min-width: 992px) {
    section {
        flex-basis: calc(33.33% - 30px);
    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
    section {
        flex-basis: calc(50% - 30px);
    }
    section:last-child {
        flex-basis: calc(100% - 30px);
    }
}

/* Mobile view */
@media (max-width: 767px) {
    section {
        flex-basis: calc(100% - 30px);
    }
}